.title {
  text-align: center;
}
.mew-form {
  width: 50%;
  margin: 0 auto;
}
.loading {
  text-align: center;
}
.mews {
  width: 80%;
  margin: 0 auto;
}
.mews > div {
  background: hsl(0, 0%, 95%);
  padding: 12px;
  border-radius: 4px;
}
.mews > div:not(:last-child) {
  margin-bottom: 8px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}
